:root{
    --cyan  :hsl(179, 62%, 43%);
    --yellow:hsl(71, 73%, 54%);
    --gray  :hsl(204, 43%, 93%);
    --blue  :hsl(218, 22%, 67%);
}
/* 400 700 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--gray);
    font-family: 'Karla', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    display: grid;
    width: 620px;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
}
.card .join{
    border-radius: 15px 15px 0 0;
    padding: 35px 35px 15px 35px;
    grid-column: 1 / span 3;
    background-color: white;
}
.card .buy{
    border-radius: 0 0 0 15px;
    padding: 35px 35px 15px 35px;
    background-color: var(--cyan);
}
.card .about{
    border-radius: 0 0 15px 0;
    padding: 35px 35px 15px 35px;
    background-color: hsl(179, 62%, 50%);
}
.card .join h1{
    color: var(--cyan);
    font-size: 26px;
    padding-bottom: 20px;
}
.card .join h4{
   color: var(--yellow);
   padding-bottom: 12px;
}
.card .join p{
    color: var(--blue);
    line-height: 1.4;
}
h2{
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
}
.card .buy .price{
    display: flex;
    align-items: center;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 10px;
}
.card .buy .price span{
    color: white;
    font-size: 28px;
    font-weight: 700;
    padding-right: 10px;
}
.buy p{
    color: white;
}
.buy a{
    display: block;
    text-align: center;
    background-color: var(--yellow);
    color: white;
    font-size: 15px;
    font-weight: 800;
    padding: 14px 0;
    border-radius: 7px;
    margin-top: 30px;
    text-decoration: none;
}
.about ul{
    list-style: none;;
}
.about ul li{
    color: white;
    padding-bottom: 3.45px;
    font-size: 14px;
}

@media (max-width:"510px"){
    .card{
        grid-template-columns: none;
    }
}